.content{
    border: 1px solid black;
    opacity: 0.7;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(236, 18, 18);
    height: 90px;
    margin: 15px;
    padding: 0 25px;
    
    position: absolute;
  
}
.content:hover{
    opacity:0.9;
}
.Menuitem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 30%;
    flex: auto;
    height: 240px;
    border: 1px solid green;
    margin: 10px 10px;
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
    background-color: white;
    
}
@media screen and (max-width:959px) {
    .content{
        font-size: 10px;
        padding: 0 10px;
        height: 70px;
    }
}
@media screen and (min-width:959px) {
    

.large   {
   
    height: 380px;
    }
    
}
    .Menuitem:hover{
        cursor: pointer;
        overflow: hidden;
  
    }
.Menuitem:first-child{
    margin-right: 7.5px;
}
.Menuitem:last-child{
    margin-left: 7.5px;
}
.outer{
    background-size: cover;
   background-repeat:no-repeat ;
    background-position: center;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer:hover{
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}